localhost:80

log {
	output stdout
}

route /bot* {
	reverse_proxy tdlight:8081
}

route /stats {
	reverse_proxy tdlight:8082
}

route /file/bot* {
	uri strip_prefix /file/bot
	root * /tdlight
	file_server browse
}
